<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" xmlns:b="http://capexil.com/bootstrap">
<body>

<ui:composition template="/templates/administrator.xhtml">
		<f:metadata>
			<f:event type="preRenderView" listener="#{superAdministratorController.init}" />
			<f:event type="preRenderView" listener="#{logListController.init}" />
			<f:event type="preRenderView" listener="#{notificationListController.init}" />
		</f:metadata>
		<ui:define name="title">Super Administrator Dashboard</ui:define>
		<ui:param name="section" value="dashboard" />
		<ui:define name="content">
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
        	    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
        	</div>
        </div>
        </section>
        <div class="container">
            <div class="row">
            <div class="col-sm-10">
            <ul class="nav nav-tabs">
  				<li class="active"><a href="#"><i class="icon-bell-alt icon-sm"></i> Notifications</a></li>
  			</ul>
            	<h2 class="page-header plain-header"><i class="icon-bell-alt icon-sm"></i> Notifications</h2>
         		<div class="responsive-table">
				<h:form id="notification-list">
						<r:dataTable id="table" var="notification" value="#{notificationListController.list}" rows="30"
							footerClass="table-list-pagination" noDataLabel="No notifications found" styleClass="table table-bordered table-striped table-list notification-table">

							<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{notificationListController}" />
										<ui:param name="label" value="On" />
										<ui:param name="property" value="createdAt" />
										<ui:param name="sort" value="true" />
									</ui:include>
									<h:outputText value="#{notification.createdAt}">
										<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
									</h:outputText>
							</r:column>
							<r:column>
								<ui:include src="/includes/table-column-header.xhtml">
									<ui:param name="controller" value="#{notificationListController}" />
									<ui:param name="label" value="Type" />
									<ui:param name="property" value="type" />
									<ui:param name="filter" value="select" />
									<ui:param name="converter" value="genericEnumConverter" />
									<ui:param name="enumType" value="com.capexil.domain.type.NotificationType" />
									<ui:param name="selectValues" value="#{utilityController.getNotificationTypeValues()}" />
								</ui:include>
								<h:outputText value="#{notification.type.value}" />
							</r:column>
							<r:column>
								<ui:include src="/includes/table-column-header.xhtml">
									<ui:param name="controller" value="#{notificationListController}" />
									<ui:param name="label" value="From User (Email)" />
									<ui:param name="property" value="fromUser.email" />
									<ui:param name="filter" value="input" />
								</ui:include>
								<h:outputText value="#{notification.fromUser.email == authController.user.email ? 'Self' : notification.fromUser.email}" />
							</r:column>
							<r:column>
								<f:facet name="header">Notification</f:facet>
									<h:outputText escape="false" value="#{notification.content}" />
							</r:column>

							<f:facet name="footer">
								<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
							</f:facet>
						</r:dataTable>
					</h:form>
			</div>
            	
            </div>
            <div class="col-sm-10">
	  		<h2 class="page-header plain-header"><i class="icon-laptop icon-sm"></i> Recent Activity</h2>
			<div class="responsive-table">
						<h:form id="form-list">
							<r:dataTable id="table" var="log" value="#{logListController.list}" rows="50" footerClass="table-list-pagination"
								styleClass="table table-bordered table-striped table-list" noDataLabel="No logs found">

								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="On" />
										<ui:param name="property" value="createdAt" />
										<ui:param name="sort" value="true" />
									</ui:include>
									<h:outputText value="#{log.createdAt}">
										<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
									</h:outputText>
								</r:column>

								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="Entity Type" />
										<ui:param name="property" value="entityType" />
										<ui:param name="filter" value="select" />
										<ui:param name="converter" value="genericEnumConverter" />
										<ui:param name="enumType" value="com.capexil.domain.type.EntityType" />
										<ui:param name="selectValues" value="#{utilityController.getEntityTypeValues()}" />
									</ui:include>
									<h:outputText value="#{log.entityType}" />
								</r:column>
							  		<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="Action" />
										<ui:param name="property" value="type" />
										<ui:param name="filter" value="select" />
										<ui:param name="converter" value="genericEnumConverter" />
										<ui:param name="enumType" value="com.capexil.domain.type.LogType" />
										<ui:param name="selectValues" value="#{utilityController.getLogTypeValues()}" />
									</ui:include>
									<h:outputText value="#{log.type}" />
								</r:column>
								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="User's First Name" />
										<ui:param name="property" value="user.firstName" />
										<ui:param name="filter" value="input" />
									</ui:include>
									<h:outputText value="#{log.user.firstName}" />
								</r:column>
								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="Email" />
										<ui:param name="property" value="user.email" />
										<ui:param name="filter" value="input" />
									</ui:include>
									<h:outputText value="#{log.user.email}" />
								</r:column>
								<f:facet name="footer">
									<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
								</f:facet>
							</r:dataTable>
						</h:form>
					</div>
					</div>
					</div>
					</div>
</ui:define>
</ui:composition>
</body>
</html>