<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org">
	<body>
		<ui:composition template="/templates/administrator.xhtml">
		<ui:define name="title">Settings</ui:define>
		<ui:param name="section" value="settings" />
		<ui:define name="content">
			<h:outputScript target="head" name="validate/jquery.validate.min.js" />
			<h:outputScript target="head" name="capexil/js/validators.js" />
			<h:outputScript target="head" name="js/jquery.validate.js" />
			<h:outputScript target="head" name="js/settings.js" />
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
					<h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
        			<p><h:outputText value="Super Administrator"/></p>
        			</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
        			<p><h:outputText value="Administrator"/></p>
        			</h:panelGroup>
        	    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                    <h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
                       <li><a href="/capexiladmin/index.xhtml">Dashboard</a></li>
                      </h:panelGroup>
                     <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                     <li><a href="/capexiladmin/super/index.xhtml">Dashboard</a></li>
                     </h:panelGroup>  
                     <li class="active">Settings</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
         <div class="container">
            <div class="row">
               <div class="col-sm-10">
                <h2 class="page-header plain-header">
					<i class="icon-cog icon-sm"></i> Settings
				</h2>
							<h:form id="settings">
							<h:messages id="messages" globalOnly="true" showDetail="true" showSummary="false" styleClass="list-unstyled"
						errorClass="alert alert-danger" infoClass="alert alert-success"
						warnClass="alert alert-warning" />
						<div class="form-group">
							<h:outputLabel for="internet-banking" value="Enable Internet Banking? Select the checkbox, if YES." /><span style="color:red;">*</span>
						 		<h:selectBooleanCheckbox id="internet-banking" value="#{settingController.getSetting('EnableNetBanking').value}" disabled="#{!utilityController.isSuperAdministrator(authController.user)}" required="true"/>
								<span class="help-block"><small>This can only be modified by Super Administrator.</small></span>
								<h:message for="internet-banking" styleClass="text-danger" />
						</div>	
						<div class="form-group">
							<h:outputLabel for="automated-email-sending" value="Continue sending automated emails to Imported Member list? Select the checkbox, if YES." /><span style="color:red;">*</span>
						 		<h:selectBooleanCheckbox id="automated-email-sending" value="#{settingController.getSetting('EnableAutomatedEmailSending').value}" disabled="#{!utilityController.isSuperAdministrator(authController.user)}" required="true"/>
								<span class="help-block"><small>This can only be modified by Super Administrator.</small></span>
								<h:message for="automated-email-sending" styleClass="text-danger" />
						</div>		
							<h3 class="page-header plain-header">
								<i class="icon-rupee icon-sm"></i> Fee
							</h3>
							<div class="form-group">
								<h:outputLabel for="large-scale-admission-fee" value="Admission Fee (One time charges) for Large Scale Category"/>
								<h:inputText id="large-scale-admission-fee" label="large-scale-admission-fee" required="true" value="#{settingController.getSetting('LargeScaleAdmissionFee').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="large-scale-admission-fee" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="large-scale-annual-fee" value="Annual Fee (paid every year) for Large Scale Category"/>
								<h:inputText id="large-scale-annual-fee" label="large-scale-annual-fee" required="true" value="#{settingController.getSetting('LargeScaleAnnualFee').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="large-scale-annual-fee" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="small-scale-admission-fee" value="Admission Fee (One time charges) for Small Scale Category"/>
								<h:inputText id="small-scale-admission-fee" label="small-scale-admission-fee" required="true" value="#{settingController.getSetting('SmallScaleAdmissionFee').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="small-scale-admission-fee" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="small-scale-annual-fee" value="Annual Fee (paid every year) for Small Scale Category"/>
								<h:inputText id="small-scale-annual-fee" label="small-scale-annual-fee" required="true" value="#{settingController.getSetting('SmallScaleAnnualFee').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="small-scale-annual-fee" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="manufacturer-cum-merchant-exporter-fee" value="Annual Fee (paid every year) for Manufacturer-cum-Merchant Exporter"/>
								<h:inputText id="manufacturer-cum-merchant-exporter-fee" label="manufacturer-cum-merchant-exporter-fee" required="true" value="#{settingController.getSetting('ManufacturerCumMerchantExporterFee').value}" styleClass="form-control">
								</h:inputText>
								<h:message for="manufacturer-cum-merchant-exporter-fee" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="additional-panel-fee" value="Annual Fee (paid every year) for Additional Panel"/>
								<h:inputText id="additional-panel-fee" label="Additional Panel Fee" required="true" value="#{settingController.getSetting('AdditionalPanelFee').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="additional-panel-fee" styleClass="text-danger" />
							</div>
						<!-- 	
							<div class="form-group">
								<h:outputLabel for="hc-series" value="Health Certificate"/>
								<h:inputText id="hc-series" label="hc-series" required="true" disabled="#{!utilityController.isSuperAdministrator(authController.user)}" value="#{settingController.getSetting('HealthCertificateSeries').value}" styleClass="form-control">
								</h:inputText>
								<span class="help-block"><small>This can only be modified by Super Administrator.</small></span>
								<h:message for="hc-series" styleClass="text-danger"/>
							</div>
						 -->
						 <h3 class="page-header plain-header">
								<i class="icon-sort-by-order-alt icon-sm"></i> Series Count
							</h3>
							<div class="form-group">
								<h:outputLabel for="membership-series" value="Membership Count"/>
								<h:inputText id="membership-series" label="Membership Count" required="true" value="#{settingController.getSetting('MembershipSeries').value}" styleClass="form-control">
								
								</h:inputText>
								<h:message for="membership-series" styleClass="text-danger" />
							</div>
							<div class="form-group">
								<h:outputLabel for="ref-series" value="Application Reference Count"/>
								<h:inputText id="ref-series" label="Application Reference Count" required="true" value="#{settingController.getSetting('ReferenceSeries').value}" styleClass="form-control">
								</h:inputText>
								<h:message for="ref-series" styleClass="text-danger" />
							</div>
						 <hr/>
							<div class="form-group">
								<h:commandButton value="Save Details" action="#{settingController.save}" styleClass="btn btn-primary btn-lg" />
							</div>
						</h:form>
				</div>	
				</div>
				</div>
			</ui:define>
		</ui:composition>
	</body>
</html>