<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" xmlns:b="http://capexil.com/bootstrap">
<body>

<ui:composition template="/templates/member.xhtml">
		<f:metadata>
			<f:event type="preRenderView" listener="#{memberController.init}" />
			<f:event type="preRenderView" listener="#{logListController.initByUser}" />
			<f:event type="preRenderView" listener="#{notificationListController.initByUser}" />
		</f:metadata>
		<ui:define name="title">Member Dashboard</ui:define>
		<ui:param name="section" value="dashboard" />
		<ui:define name="content">
		<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome Member!
					</h1>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
            </div>
          
        </div>
	</section><!--/#title--> 
	<div class="container">
				<!-- <div class="row">
					<div class="col-sm-10">
						<h2 class="page-header plain-header">
							<i class="icon-box icon-sm"></i> Your Profile Completeness
						</h2>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar"
								aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
								style="width: 40%">40% Complete (success)</div>
						</div>
					</div>
				</div> -->
			<div class="row">
            <div class="col-sm-10">
            <h2 class="page-header plain-header"><i class="icon-sun icon-sm"></i> Task requiring your attention <small>you must complete your profile</small></h2>
			<ol>
 				<li>Edit your <h:outputLink value="/member/company/edit.xhtml" styleClass="btn btn-success btn-sm" ><h:outputText value="COMPANY"/></h:outputLink> details. Ensure the data is correct (like date of establishment of your company, PAN number etc). Enter all mandatory and relevant fields.
 				</li>
 				<li>Similarly, you must add all <h:outputLink value="/member/branch/index.xhtml" styleClass="btn btn-success btn-sm"><h:outputText value="BRANCHES"/></h:outputLink> of your company. All branches have to be added individually. Enter all mandatory and relevant fields.
 				</li>
 				<li>Also, do not forget to add <h:outputLink value="/member/factory/index.xhtml" styleClass="btn btn-success btn-sm"><h:outputText value="FACTORIES"/></h:outputLink> of your company. All factories have to be added individually. Enter all mandatory and relevant fields.
 				</li>
 				<li>Likewise, you must add all <h:outputLink value="/member/stakeholder/index.xhtml" styleClass="btn btn-success btn-sm"><h:outputText value="STAKEHOLDERS"/></h:outputLink> of your company. The types include Director(s), Partner(s), Proprietor(s), Karta. Enter all mandatory and relevant fields.
 				</li>
 				<li>Remember to create at least one <h:outputLink value="/member/product/profile/list.xhtml" styleClass="btn btn-success btn-sm"><h:outputText value="PRODUCT PROFILE"/></h:outputLink> in this system. With product profile creation, we would know what Panel and specific product you want to subscribe to, with Capexil. Ultimately, this will help us link the product profile with your Membership.
 				</li>
 				<li>You must add details and upload all relevant <h:outputLink value="/member/document-proof/index.xhtml" styleClass="btn btn-success btn-sm"><h:outputText value="DOCUMENT PROOFS"/></h:outputLink> of your company (like copy of IEC certificate, your PAN number) wrt your Membership with us. Document upload is one time exercise for the document type that do not expire. For documents that expire, you would need to upload it again at the time of expiry (we'll keep you informed). 
 				</li>
 			</ol>
 			
            	<h2 class="page-header plain-header"><i class="icon-bell-alt icon-sm"></i> Your Notifications</h2>
            	<div class="alert alert-warning">Notifications older than 7 days shall be automatically deleted.</div>
			<div class="responsive-table">
				<h:form id="notification-list">
						<r:dataTable id="table" var="notification" value="#{notificationListController.list}" rows="30"
							footerClass="table-list-pagination" noDataLabel="No notifications found" styleClass="table table-bordered table-striped table-list notification-table">

							<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{notificationListController}" />
										<ui:param name="label" value="On" />
										<ui:param name="property" value="createdAt" />
										<ui:param name="sort" value="true" />
									</ui:include>
									<h:outputText value="#{notification.createdAt}">
										<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
									</h:outputText>
							</r:column>
							<r:column>
								<ui:include src="/includes/table-column-header.xhtml">
									<ui:param name="controller" value="#{notificationListController}" />
									<ui:param name="label" value="Type" />
									<ui:param name="property" value="type" />
									<ui:param name="filter" value="select" />
									<ui:param name="converter" value="genericEnumConverter" />
									<ui:param name="enumType" value="com.capexil.domain.type.NotificationType" />
									<ui:param name="selectValues" value="#{utilityController.getNotificationTypeValues()}" />
								</ui:include>
								<h:outputText value="#{notification.type.value}" />
							</r:column>
							<r:column>
								<ui:include src="/includes/table-column-header.xhtml">
									<ui:param name="controller" value="#{notificationListController}" />
									<ui:param name="label" value="From User (Email)" />
									<ui:param name="property" value="fromUser.email" />
									<ui:param name="filter" value="input" />
								</ui:include>
								<h:outputText value="#{notification.fromUser.email == authController.user.email ? 'Self' : notification.fromUser.email}" />
							</r:column>
							<r:column>
								<f:facet name="header">Notification</f:facet>
									<h:outputText escape="false" value="#{notification.content}" />
							</r:column>

							<f:facet name="footer">
								<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
							</f:facet>
						</r:dataTable>
					</h:form>
			</div>
            	
            </div>
            </div>
            <div class="row">
            <div class="col-sm-10">
	  		<h2 class="page-header plain-header"><i class="icon-laptop icon-sm"></i> Your Recent Activity</h2>
			<div class="alert alert-warning">Recent activity information older than 3 days shall be automatically deleted.</div>
			<div class="responsive-table">
						<h:form id="form-list">
							<r:dataTable id="table" var="log" value="#{logListController.list}" rows="50" footerClass="table-list-pagination"
								styleClass="table table-bordered table-striped table-list" noDataLabel="No logs found">

								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="On" />
										<ui:param name="property" value="createdAt" />
										<ui:param name="sort" value="true" />
									</ui:include>
									<h:outputText value="#{log.createdAt}">
										<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
									</h:outputText>
								</r:column>

								<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="Entity Type" />
										<ui:param name="property" value="entityType" />
										<ui:param name="filter" value="select" />
										<ui:param name="converter" value="genericEnumConverter" />
										<ui:param name="enumType" value="com.capexil.domain.type.EntityType" />
										<ui:param name="selectValues" value="#{utilityController.getEntityTypeValues()}" />
									</ui:include>
									<h:outputText value="#{log.entityType}" />
								</r:column>
							  		<r:column>
									<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{logListController}" />
										<ui:param name="label" value="Action" />
										<ui:param name="property" value="type" />
										<ui:param name="filter" value="select" />
										<ui:param name="converter" value="genericEnumConverter" />
										<ui:param name="enumType" value="com.capexil.domain.type.LogType" />
										<ui:param name="selectValues" value="#{utilityController.getLogTypeValues()}" />
									</ui:include>
									<h:outputText value="#{log.type}" />
								</r:column>
								<!--<r:column>
									<f:facet name="header">Description</f:facet>
									<h:outputText value="#{logListController.getEntityName(log.entityId, log.entityType)}" escape="false"
										styleClass="log-description" />
								</r:column> -->
								<f:facet name="footer">
									<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
								</f:facet>
							</r:dataTable>
						</h:form>
					</div>
					</div>
					</div>
					</div>
</ui:define>
</ui:composition>
</body>
</html>