<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<f:view contentType="text/html">
		<h:head>
			<title>Scotch Aficionado - <ui:insert name="title"></ui:insert></title>

			<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="description" content="${metaDescription}" />
			<meta name="keywords" content="${metaKeywords}" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />

			<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
			<h:outputStylesheet name="bootstrap/css/font-awesome.min.css" />
			<h:outputStylesheet name="bootstrap/css/prettyPhoto.css" />
			<h:outputStylesheet name="bootstrap/css/animate.css" />
			<h:outputStylesheet name="bootstrap/css/main.css" />
			
			
			<h:outputScript name="bootstrap/js/jquery.js" />
			<h:outputScript name="bootstrap/js/bootstrap.min.js" />
			<h:outputScript name="bootstrap/js/jquery.prettyPhoto.js" />
			<h:outputScript name="bootstrap/js/main.js" />
		</h:head>
		
		<h:body styleClass="body-grey">
			<div class="container">
				<ui:insert name="content">
				</ui:insert>
			</div>
		</h:body>
	</f:view>
</html>