<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<f:view contentType="text/html">
		<h:head>
			<title>Scotch Aficionado - <ui:insert name="title"></ui:insert></title>

			<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
			<meta name="description" content="${metaDescription}" />
			<meta name="keywords" content="${metaKeywords}" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />

			<h:outputStylesheet name="bootstrap/css/bootstrap.min.css" />
			<h:outputStylesheet library="bootstrap" name="css/font-awesome.min.css" />
			<h:outputStylesheet name="bootstrap/css/prettyPhoto.css" />
			<h:outputStylesheet name="bootstrap/css/animate.css" />
			<h:outputStylesheet name="bootstrap/css/main.css" />
						
			
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
				<h:outputScript name="html5shiv/html5shiv.min.js" />
				<h:outputScript name="respondjs/respond.min.js" />
			<![endif]-->

			<h:outputScript name="bootstrap/js/jquery.js" />
			<h:outputScript name="bootstrap/js/bootstrap.min.js" />
			<h:outputScript name="bootstrap/js/jquery.prettyPhoto.js" />
			<h:outputScript name="bootstrap/js/main.js" />
			<h:outputScript name="org.richfaces/jquery.js" />
			<h:outputScript name="bootstrap/js/bootstrap.js" />
			<h:outputScript name="bootstrap/js/pdfobject.js" />
		</h:head>
		<h:body>
		<ui:include src="/includes/member/navbar.xhtml" />
			<div class="container section-content" data-section="#{section}">
				<ui:insert name="content">
				</ui:insert>
				
			</div>
			
		</h:body>
	</f:view>
</html>