<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" xmlns:b="http://capexil.com/bootstrap">
<body>
	<ui:composition template="/templates/administrator.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{accountController.id}" />
			<f:event type="preRenderView" listener="#{accountController.init}" />
		</f:metadata>

		<ui:define name="title">Account Details</ui:define>
		<ui:param name="section" value="account-details" />
		<ui:define name="content">
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
			    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                     <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                     <li><a href="/super/index.xhtml">Dashboard</a></li>
                     </h:panelGroup>
                     <li><a href="/super/account/index.xhtml">Accounts</a></li>  
                     <li class="active">Account</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <div class="container">
            	<div class="row">
                <div class="col-sm-10">
                <h2 class="page-header plain-header">
					<i class="icon-glass icon-sm"></i><h:outputText value="#{accountController.id != null? ' Account Details' :' Create an Account'}" escape="false"/>
				</h2>
				<h:messages id="messages" globalOnly="true" showDetail="true"
						showSummary="false" styleClass="list-unstyled"
						errorClass="alert alert-danger" infoClass="alert alert-success"
						warnClass="alert alert-warning" />
                <h:form id="account">
                				<div class="form-group">
										<h:outputLabel for="title" value="Title" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="title" required="true" requiredMessage="Please enter account title." converterMessage="Please enter account title." maxlength="255" label="Title" value="#{accountController.account.title}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="title" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="account-category" value="Category" styleClass="control-label" /><span style="color:red;">*</span>
											<h:selectOneMenu id="account-category" required="true" requiredMessage="Please select account category." converterMessage="Please select account category." 
												value="#{accountController.account.category}" styleClass="form-control">
											<f:selectItems value="#{utilityController.accountCategoryValues}" />
											</h:selectOneMenu>
										<h:message for="account-category" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="account-status" value="Status" styleClass="control-label" /><span style="color:red;">*</span>
											<h:selectOneMenu id="account-status" required="true" requiredMessage="Please select account status." converterMessage="Please select account status." 
												value="#{accountController.account.status}" styleClass="form-control">
											<f:selectItems value="#{utilityController.accountStatusValues}" />
											</h:selectOneMenu>
										<h:message for="account-status" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="email" value="Email" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="email" required="true" requiredMessage="Please enter account email." converterMessage="Please enter account email." maxlength="255" label="Email" value="#{accountController.account.email}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
												<f:validator validatorId="emailValidator" />
											</h:inputText>
										<h:message for="email" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="url" value="URL" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="url" required="true" requiredMessage="Please enter account url." converterMessage="Please enter account url." maxlength="255" label="URL" value="#{accountController.account.url}"
												styleClass="form-control">
												<f:validateLength maximum="255"/>
											</h:inputText>
										<h:message for="url" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="shortCode" value="Short Code" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="shortCode" required="true" requiredMessage="Please enter account short code." converterMessage="Please enter account short code." maxlength="255" label="Short Code" value="#{accountController.account.shortCode}"
												styleClass="form-control">
												<f:validateLength maximum="255"/>
											</h:inputText>
										<h:message for="shortCode" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="contact-information" value="Contact Information" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="contact-information" required="true" requiredMessage="Please enter contact information for the account." converterMessage="Please enter contact information for the account." maxlength="255" label="Contact Information" value="#{accountController.account.contactInformation}"
												styleClass="form-control">
												<f:validateLength maximum="255"/>
											</h:inputText>
										<h:message for="contact-information" styleClass="text-danger" />
								</div>
								<div class="form-group">
									<h:outputLabel for="notes" value="Notes" styleClass="control-label" />
										<h:inputTextarea id="notes" label="Notes" maxlength="255" value="#{accountController.account.notes}"
											styleClass="form-control">
											<f:converter converterId="trimConverter" />
											<f:validateLength maximum="255" />
										</h:inputTextarea>
										<h:message for="notes" styleClass="text-danger" />
								</div>	
								<hr/>
								<div class="form-group">
									<h:commandButton value="Save Details" action="#{accountController.save}" styleClass="btn btn-primary btn-lg" />
								</div>
                </h:form>
                </div>
                </div>
                </div>
               </ui:define>
	</ui:composition>
</body>
</html>