<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" xmlns:b="http://capexil.com/bootstrap">
<body>
	<ui:composition template="/templates/administrator.xhtml">
		<f:metadata>
			<f:event type="preRenderView" listener="#{accountListController.init}" />
		</f:metadata>
		<ui:define name="title">Accounts</ui:define>
		<ui:param name="section" value="account-details" />
		<ui:define name="content">
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
			    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                     <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                     <li><a href="/super/index.xhtml">Dashboard</a></li>
                     </h:panelGroup>  
                     <li class="active">Accounts</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <div class="container">
            <div class="row">
               <div class="col-sm-10">
                <h2 class="page-header plain-header">
					<i class="icon-building icon-sm"></i> Accounts
					(<h:outputText value="#{accountListController.size}"/>)
				</h2>
                <h:form id="form-list">
						<div class="responsive-table">
							<r:dataTable keepSaved="true" id="table" var="account" value="#{accountListController.list}"
									noDataLabel="No accounts found" 
									footerClass="table-list-pagination" rows="30" rowKey="#{account.id}"
										styleClass="table table-bordered table-striped table-list">
							
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Date" />
												<ui:param name="property" value="createdAt" />
												<ui:param name="sort" value="true" />
											</ui:include>
											<h:outputText value="#{account.createdAt}" escape="false" >
												<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Status" />
												<ui:param name="property" value="status" />
												<ui:param name="filter" value="select" />
												<ui:param name="converter" value="genericEnumConverter" />
												<ui:param name="enumType" value="com.aficionado.domain.type.AccountStatus" />
												<ui:param name="selectValues" value="#{utilityController.getAccountStatusValues()}" />
												</ui:include>
												<h:outputText value="#{account.status}">
												</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Category" />
												<ui:param name="property" value="category" />
												<ui:param name="filter" value="select" />
												<ui:param name="converter" value="genericEnumConverter" />
												<ui:param name="enumType" value="com.aficionado.domain.type.AccountCategory" />
												<ui:param name="selectValues" value="#{utilityController.getAccountCategoryValues()}" />
												</ui:include>
												<h:outputText value="#{account.category}">
												</h:outputText>
										</r:column>	
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Title" />
												<ui:param name="property" value="title" />
												<ui:param name="filter" value="input" />
												</ui:include>
											<h:outputText value="#{account.title}" escape="false" >
											</h:outputText>
										</r:column>
							 			<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Email" />
												<ui:param name="property" value="email" />
												<ui:param name="filter" value="input" />
												</ui:include>
											<h:outputText value="#{account.email}" escape="false" >
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{accountListController}" />
												<ui:param name="label" value="Shortcode" />
												<ui:param name="property" value="shortCode" />
												<ui:param name="filter" value="input" />
												</ui:include>
											<h:outputText value="#{account.shortCode}" escape="false" >
											</h:outputText>
										</r:column>
										<r:column>
											<h:commandButton action="#{accountListController.open}" class="btn btn-info btn-sm" value="Open">
											    <f:setPropertyActionListener target="#{accountListController.selectedAccountId}" value="#{account.id}" />
											</h:commandButton>
										</r:column>
								<f:facet name="footer">
									<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
								</f:facet>
							</r:dataTable>
							</div>
							<hr/>
								<div class="form-group">
									<h:link value="Add New Account" outcome="/super/account/edit.xhtml" styleClass="btn btn-primary btn-lg"/> 
								</div>
							
							</h:form>
							</div>
            </div>
            </div>
               
		</ui:define>

	</ui:composition>
</body>
</html>