<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<nav class="navbar" id="custom-nav" role="banner">
		<div class="container">
		     <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/member/index.xhtml"><i class="icon-dashboard"></i> Dashboard</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bookmark"></i> Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/member/company/edit.xhtml">Company</a></li>
                             <li class="divider"></li>
                             <li><a href="/member/branch/index.xhtml">Branch</a></li>
                              <li><a href="/member/factory/index.xhtml">Factory</a></li>
                            <li><a href="/member/stakeholder/index.xhtml">Stakeholders</a></li>
                            <li class="divider"></li>
                            <li><a href="/member/product/profile/list.xhtml">Product Profile</a></li>
                             <li class="divider"></li>
                            <li><a href="/member/document-proof/index.xhtml">Document Proofs</a></li>
                         </ul>
                    </li>
                    <!-- 
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Entities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/member/branch/new.xhtml">Branch</a></li>
                            <li><a href="/member/factory/new.xhtml">Factory</a></li>
                            <li><a href="/member/stakeholder/new.xhtml">Stakeholder</a></li>
                            <li class="divider"></li>
                            <li><a href="/member/product/profile/new.xhtml">Product to Profile</a></li>
                        </ul>
                    </li>
                     -->
                       <!--
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Membership<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="/member/membership/index.xhtml">Existing</a></li>
                            <li class="divider"></li>
                            <li><a href="/member/membership/new.xhtml">New</a></li>
                         </ul>
                    </li>
                    -->
                     <!--
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finance<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/member/invoice/index.xhtml">Invoices</a></li>
                            <li><a href="/member/payment/index.xhtml">Payments</a></li>
                        </ul>
                    </li>
                    -->
                     <!-- <li><a href="/account/contact-us.xhtml">Contact</a></li>-->
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="text-logged-in"><i class="icon-user icon-sm"></i> Logged in as </span>
										<h:outputText value="#{authController.user.email}" /> <span class="caret"></span>
									</a>
							<ul class="dropdown-menu">
									<li>
										<h:link value="Account Settings" outcome="/member/profile/edit.xhtml" />
									</li>
									 <li class="divider"></li>
									<li>
										<h:link value="Log out" outcome="/account/logout.xhtml" />
									</li>
								</ul>
						</li>
                </ul>
            </div>
        </div>
		</nav>
	</ui:composition>
</body>
</html>