<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<nav class="navbar" id="custom-nav" role="banner">
		<div class="container">
		     <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                <a class="navbar-brand" href="/super/index.xhtml"><i class="icon-dashboard"></i>  Dashboard</a>
        		</h:panelGroup>
        		</div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Listings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/super/account/index.xhtml">Account</a></li>
                            <li class="divider"></li>
                             <li><a href="/super/account-user/list.xhtml">User</a></li>
                         </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Site Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        	<li><a href="/super/settings/index.xhtml">Settings</a></li>
                        </ul>
                    </li>
                     <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="text-logged-in"><i class="icon-user icon-sm"></i> Logged in as </span>
										<h:outputText value="#{authController.user.email}" /> <span class="caret"></span>
									</a>
							<ul class="dropdown-menu">
									<h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
									<li>
										<h:link value="Edit Profile" outcome="/super/profile/edit.xhtml" />
									</li>
									</h:panelGroup>
									<li>
										<h:link value="Log out" outcome="/account/logout.xhtml" />
									</li>
								</ul>
						</li>
                </ul>
            </div>
        </div>
		</nav>
	</ui:composition>
</body>
</html>