﻿<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<body>
		<ui:composition template="/templates/base-no-navigation.xhtml">
			<ui:define name="title">404</ui:define>
			<ui:define name="content">
				<script type="text/javascript">
				//<![CDATA[
					if(typeof _gaq != "undefined"){
						_gaq.push(["_trackEvent", "Error", "Page Not Found", window.location.pathname]);
					}
				//]]>
				</script>
				
				 <section id="error" class="container">		
						<h1>
							This page can no longer be found.
						</h1>
						<hr />
						<p class="hidden-xs">
							The page you are trying to access doesn't exist or has been removed.
						</p>
						<p>
							<h:link value="GO TO YOUR DASHBOARD" outcome="/#{utilityController.getUserRoot(authController.user)}/index" rendered="#{authController.user.id != null}" styleClass="btn btn-success" />
						</p>
						<p>
							<h:outputLink value="/account/login.xhtml" rendered="#{authController.user.id == null}" styleClass="btn btn-success">GO TO HOME PAGE</h:outputLink>
						</p>
				</section>

			</ui:define>
		</ui:composition>
	</body>
</html>