﻿<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<body>
		<ui:composition template="/templates/base-no-navigation.xhtml">
			<ui:define name="title">No Permissions to Go This Way</ui:define>
			<ui:define name="content">
				<h:outputStylesheet name="capexil/css/page.error.css" />
				
				<script type="text/javascript">
				//<![CDATA[
					if(typeof _gaq != "undefined"){
						_gaq.push(["_trackEvent", "Error", "Access Denied", window.location.pathname]);
					}
				//]]>
				</script>
				
				<div class="row">
					<div class="col-xs-12 page-error">
					
						<i class="fa fa-ban"></i>
					
						<h1>
							Oops, Access Denied!
						</h1>
						<hr />
						<p class="hidden-xs">
							Looks like you don't have the permissions to go this way.
						</p>
						<p>
							<h:link value="Go to your dashboard" outcome="/#{utilityController.getUserRoot(authController.user)}/index" rendered="#{authController.user.id != null}" styleClass="btn btn-submit" />
						</p>
						<p>
							<h:outputLink value="/account/login.xhtml" rendered="#{authController.user.id == null}" styleClass="btn btn-submit">Go to Scotch Aficionado</h:outputLink>
						</p>
					</div>
    			</div>
			</ui:define>
		</ui:composition>
	</body>
</html>