﻿<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<body>
		<ui:composition template="/templates/base-no-navigation.xhtml">
			<ui:define name="title">500</ui:define>
			<f:metadata>
   				<f:event type="preRenderView" listener="#{errorController.initError}"/>
			</f:metadata>
			<ui:define name="content">
				<h:outputStylesheet name="capexil/css/page.error.css" />
				
				<script type="text/javascript">
				//<![CDATA[
					if(typeof _gaq != "undefined"){
						_gaq.push(["_trackEvent", "Error", "#{errorController.exception == null?'Unknown':errorController.exception.exceptionType}", window.location.pathname]);
					}
				//]]>
				</script>
				<section id="error" class="container">	
						<h1>
							Something went wrong here!
						</h1>
						<hr/>
						
						<p>
							<h:panelGroup rendered="#{errorController.exception != null}">
								<h:panelGroup rendered="#{errorController.exception.exceptionType == CertificateAlreadyExists}">
									<h3 class="page-header plain-header text-danger">The entity you are trying to create already exists.</h3>
								</h:panelGroup>
								<h:panelGroup rendered="#{errorController.exception.exceptionType == 'InvalidParam'}">
									<h3 class="page-header plain-header text-danger">The page you are trying to access doesn't exist or has been removed.</h3>
								</h:panelGroup>
								<h:panelGroup rendered="#{errorController.exception.exceptionType == 'Unauthorized'}">
									<h3 class="page-header plain-header text-danger">You don't have access to this page.</h3>
								</h:panelGroup>
								<h:panelGroup rendered="#{errorController.exception.exceptionType == 'System'}">
									<h3 class="page-header plain-header text-danger">We found an error after that last click. It's been logged and we'll take a look as soon as we can.</h3>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{errorController.exception == null}">
								<h3 class="page-header plain-header text-danger">We found an error after that last click. It's been logged and we'll take a look as soon as we can.</h3>
							</h:panelGroup>
						</p>
						
						<p>
							<h:link value="GO TO YOUR DASHBOARD" outcome="/#{utilityController.getUserRoot(authController.user)}/index" rendered="#{authController.user.id != null}" styleClass="btn btn-success" />
						</p>
						<p>
							<h:outputLink value="/account/login" rendered="#{authController.user.id == null}" styleClass="btn btn-success">Go TO HOME PAGE</h:outputLink>
						</p>
				</section>	
			</ui:define>
		</ui:composition>
	</body>
</html>