<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" >
<body>
	<ui:composition template="/templates/login-page-navigation.xhtml">
	<f:metadata>
			<f:viewParam name="type" value="#{registrationController.selectedType}" />
			<f:event type="preRenderView" listener="#{registrationController.init}" />
			<f:event type="preRenderView" listener="#{statesListController.init}" />
	</f:metadata>
	<ui:define name="title">Administrator Registration</ui:define>
		<ui:define name="content">
	 <!-- 	<h:outputScript target="head" name="validate/jquery.validate.min.js" />
		<h:outputScript target="head" name="capexil/js/validators.js" />
		<h:outputScript target="head" name="capexil/js/industrial-user-registration.js" /> -->
		
	<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>New User Registration</h1>
                    <p>Welcome to Scotch Aficionado</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="login.xhtml">Home</a></li>
                        <li><a href="registration-type.xhtml">Identify Yourself</a></li>
                        <li class="active">Administrator Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title--> 
  			<div class="row">
			<div class="col-sm-8">
			<h4 class="page-header plain-header">Enter Registration Details <small>Step 2 of 2</small></h4>
				<h:form id="administrator-user-registration">
			      	<h:messages id="messages" globalOnly="true" showDetail="true" showSummary="false" styleClass="list-unstyled"
						errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" />			
						<div class="form-group">
									<h:outputLabel for="email" value="Your Email (this will be your username for signing-in)" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="email" maxlength="255" label="Email" value="#{registrationController.registration.email}" required="true" styleClass="form-control">
									<f:converter converterId="trimConverter" />
										<f:converter converterId="blankToNullConverter" />
										<f:validateLength maximum="255" />
										<f:validator validatorId="capexilDomainEmailValidator" />
									</h:inputText>
									<h:message for="email" styleClass="text-danger" />
									<span class="help-block">Please note that your e-mail should be of the domain <strong>@capexil.in</strong> to register as an Administrator.</span>
						</div>
						<div class="form-group">
									<h:outputLabel for="first-name" value="Your First Name" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="first-name" maxlength="255" label="First Name" value="#{registrationController.registration.firstName}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="first-name" styleClass="text-danger" />
						</div>
						<div class="form-group">
									<h:outputLabel for="last-name" value="Your Last Name" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="last-name" maxlength="255" label="Last Name" value="#{registrationController.registration.lastName}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="last-name" styleClass="text-danger" />
						</div>
						<div class="form-group">
									<h:outputLabel for="designation" value="Your Designation" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="designation" maxlength="255" label="Designation" value="#{registrationController.registration.designation}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="designation" styleClass="text-danger" />
						</div>
						<div class="form-group">
									<h:outputLabel for="qualification" value="Your Qualification" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="qualification" maxlength="255" label="Qualification" value="#{registrationController.registration.qualification}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="qualification" styleClass="text-danger" />
						</div>
							<div class="form-group">
									<h:outputLabel for="admin-state" value="State (as per your Capexil office location)" styleClass="control-label"/><span style="color:red;">*</span>
										<h:selectOneMenu id="admin-state" required="true" converterMessage="Please select state as per your capexil office location." title="Admin-State" value="#{registrationController.registration.stateId}" styleClass="form-control">
										<f:selectItems value="#{statesListController.list}" var="state" itemValue="#{state.id}" itemLabel="#{state.name}"/>
										</h:selectOneMenu>
										<h:message for="admin-state" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="admin-mobile" value="Your Mobile Phone" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="admin-mobile" required="true" maxlength="11" label="Admin Mobile" value="#{registrationController.registration.mobilePhone}"
												styleClass="form-control">
												<f:validateRegex pattern="[0-9]+" />
												<f:validateLength maximum="10"/>
											</h:inputText>
										<h:message for="admin-mobile" styleClass="text-danger" />
								</div>
								<h4 class="page-header plain-header">Verification  <small>You must agree to this</small></h4>
								<div class="form-group">
									<h:outputLabel for="verification" value="I do hereby declare, undertake and accept that the above information is complete and correct and that I agree to abide by the conditions and standards laid down by CAPEXIL in this behalf from time to time." styleClass="control-label" /><span style="color:red;">*</span>
									<h:selectBooleanCheckbox id="verification" value="#{registrationController.registration.verification}" requiredMessage="You must agree.">
										<f:validator validatorId="requiredCheckboxValidator" />
									</h:selectBooleanCheckbox>
									<h:message for="verification" styleClass="text-danger" />
								</div>
								<div class="form-group">
    								<span class="text-muted pull-right"><em><span style="color:red;">*</span> Indicates required field</em></span>
  								</div>
								<div class="form-group">
									<h:commandButton ajax="true" value="Register" action="#{registrationController.registerAdministrator}" styleClass="btn btn-primary" />
								</div>
							</h:form>
				 </div>				
			</div>
	</ui:define>
	</ui:composition>
</body>
</html>