﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<body>
		<ui:composition template="/templates/login-page-navigation.xhtml">
			<f:metadata>
				<f:event type="preRenderView" listener="#{authController.init}" />
			</f:metadata>
			<ui:define name="title">Forgot Password</ui:define>
			<ui:define name="content">
				
				<h:outputScript target="head" name="validate/jquery.validate.min.js" />
				<h:outputScript target="head" name="capexil/js/forgot-password.js" />
			<section id="title" class="emerald">
        	<div class="container">
            				<div class="row">
                				<div class="col-sm-6">
                    			<h1>Forgot Password</h1>
                    			<p>Just enter your email address below, we'll send you a new password straight away!</p>
                			</div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.xhtml">Login</a></li>
                        <li class="active">Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br/>
	<h:messages globalOnly="true" showDetail="true" showSummary="false" styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" />
	<div class="container">
        <div class="row">
	 <div class="col-sm-8">
        						<h:form id="forgot-password">
								<fieldset class="registration-form">
									<div class="form-group">
										<h:outputLabel for="email" value="Email" styleClass="control-label" />
										<h:inputText id="email" maxlength="255" label="Email" required="true" value="#{registrationController.email}" styleClass="form-control">
											<f:converter converterId="trimConverter" />
											<f:validateLength maximum="255" />
											<f:validator validatorId="emailValidator" />
										</h:inputText>
										<h:message for="email" styleClass="text-danger" />
									</div>
									
									<div class="form-group">
										<h:commandButton value="Send me a new password" action="#{registrationController.generatePassword}" styleClass="btn btn-success" />
									</div>
								</fieldset>
								</h:form>
								<hr class="hidden-xs" />
								<p>
									<h:link outcome="login">
										<i class="fa fa-angle-left"></i> Back to Login
									</h:link>
								</p>
			
		</div>
		</div>
		</div>	
			</ui:define>
		</ui:composition>
	</body>
</html>