<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<body>
	<ui:composition template="/templates/login-page-navigation.xhtml">
		<f:metadata>
			<f:event type="preRenderView" listener="#{authController.init}" />
		</f:metadata>
		<ui:define name="title">Login</ui:define>
		<ui:define name="content">
			
			<h:outputScript target="head" name="validate/jquery.validate.min.js" />
			<h:outputScript target="head" name="capexil/js/validators.js" />
			<h:outputScript target="head" name="capexil/js/login.js" />

	<!-- 	<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Login</h1>
                    <p>Welcome to Scotch Aficionado</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>-->
   <div class="container">  
     
      	<div class="row">
				<div class="col-sm-8">
				<div class="jumbotron">
					<h1>Welcome to Scotch Aficionado</h1> 
    				<p><small><i class="icon-glass icon-sm"></i> Have a great time!</small></p>  
				</div>
				 </div>
				<div class="col-sm-4">
	        <h:form id="login">
            <br/>
            <p>Log in</p>
	            <div class="form-group">
                    <h:outputLabel for="email" value="Email" styleClass="control-label" /><span style="color:red;">*</span>
						<h:inputText id="email" label="Email" maxlength="255" required="required" value="#{authController.user.email}"
										styleClass="form-control">
								<f:converter converterId="trimConverter" />
								<f:validateLength maximum="255" />
								<f:validator validatorId="emailValidator" />
						</h:inputText>
					<h:message for="email" styleClass="text-danger" />
                </div>
                <div class="form-group">
                <h:outputLabel for="password" value="Password" styleClass="control-label" /><span style="color:red;">*</span>
 	            	<h:inputSecret id="password" label="Password" required="true" value="#{authController.user.password}"
										styleClass="form-control" />
					<h:message for="password" styleClass="text-danger" />
 	            </div>
                <div class="form-group">
                	<h:commandButton value="LOG IN" action="#{authController.login}" styleClass="btn btn-success btn-md btn-block" />
                </div>
                	<h:message for="login" styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" />
                <br/>
                <br/>
                <hr/>
                <div class="form-group">
					<h:link outcome="forgot-password" value="Forgot Password?" styleClass="btn btn-danger btn-sm">
						</h:link>
				</div>
				<br/>
            
            </h:form>
				</div>
		</div>		
    
    </div> 
  	</ui:define>
	</ui:composition>
</body>
</html>