﻿<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
	<body>
		<ui:composition template="/templates/login-page-navigation.xhtml">
			<f:metadata>
   				<f:event type="preRenderView" listener="#{authController.logout}" />
   			</f:metadata>
			<ui:define name="title">Logout</ui:define>
			<ui:define name="content">
				<h:outputStylesheet name="capexil/css/page.account.css" />
				
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h1 class="page-header">
									You have been signed out
								</h1>
								<p>
									Thanks for visiting!
								</p>
								<p>
									<h:link value="Log in again" outcome="/account/login.xhtml" />
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</ui:define>
		</ui:composition>
	</body>
</html>