<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" >
<body>
	<ui:composition template="/templates/login-page-navigation.xhtml">
	<f:metadata>
			<f:viewParam name="type" value="#{registrationController.selectedType}" />
			<f:event type="preRenderView" listener="#{registrationController.init}" />
			<f:event type="preRenderView" listener="#{statesListController.init}" />
	</f:metadata>
	<ui:define name="title">Member Registration</ui:define>
		<ui:define name="content">
	 <!-- 	<h:outputScript target="head" name="validate/jquery.validate.min.js" />
		<h:outputScript target="head" name="capexil/js/validators.js" />
		<h:outputScript target="head" name="capexil/js/industrial-user-registration.js" /> -->
		
	<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>New User Registration</h1>
                    <p>Welcome to Scotch Aficionado</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="login.xhtml">Home</a></li>
                        <li><a href="registration-type.xhtml">Identify Yourself</a></li>
                        <li class="active">Member Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title--> 
  			<div class="row">
			<div class="col-sm-8">
			<h4 class="page-header plain-header">Enter Registration Details <small>Step 2 of 2</small></h4>
				<h:form id="member-registration">
			      	<h:messages id="messages" globalOnly="true" showDetail="true" showSummary="false" styleClass="list-unstyled"
						errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" />			
						<div class="form-group">
									<h:outputLabel for="email" value="Your Email (this will be your username for signing-in)" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="email" maxlength="255" label="Email" value="#{registrationController.registration.email}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
										<f:validator validatorId="emailValidator" />
									</h:inputText>
									<h:message for="email" styleClass="text-danger" />
						</div>
						<div class="form-group">
									<h:outputLabel for="first-name" value="Your First Name" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="first-name" maxlength="255" label="First Name" value="#{registrationController.registration.firstName}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="first-name" styleClass="text-danger" />
						</div>
						<div class="form-group">
									<h:outputLabel for="last-name" value="Your Last Name" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="last-name" maxlength="255" label="Last Name" value="#{registrationController.registration.lastName}" required="true" styleClass="form-control">
										<f:converter converterId="trimConverter" />
										<f:validateLength maximum="255" />
									</h:inputText>
									<h:message for="last-name" styleClass="text-danger" />
						</div>
						<div class="form-group">
										<h:outputLabel for="member-type" value="Your Member Type" styleClass="control-label" /><span style="color:red;">*</span>
											<h:selectOneMenu id="member-type" required="true" requiredMessage="Please select your member type." converterMessage="Please select your member type." 
												value="#{registrationController.registration.memberType}" styleClass="form-control">
											<f:selectItems value="#{utilityController.memberTypeValues}" />
											</h:selectOneMenu>
										<h:message for="member-type" styleClass="text-danger" />
						</div>
								<div class="form-group">
										<h:outputLabel for="company-name" value="Your Company Name" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-name" required="true" requiredMessage="Please enter your company name." converterMessage="Please enter your company name." maxlength="255" label="Company name" value="#{registrationController.registration.companyName}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-name" styleClass="text-danger" />
								</div>
								<div class="form-group">
									<h:outputLabel for="establishment-date" value="Your Company Establishment Date"/><span style="color:red;">*</span>
										<r:calendar id="establishment-date" direction="bottomRight" jointPoint="bottomRight" required="true" requiredMessage="Please enter your company establishment date." converterMessage="Please enter your company establishment date." value="#{registrationController.registration.companyEstablishmentDate}" datePattern="dd MMM yyyy" popupStyle="width:50%;margin:inherit;background-color:#91E1F5;" enableManualInput="false">
											<f:validator validatorId="dateValidator" />
										</r:calendar>
									<h:message for="establishment-date" styleClass="text-danger"/>
								</div>
								<div class="form-group">
										<h:outputLabel for="company-pan-no" value="Your Company PAN Number" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-pan-no" required="true" requiredMessage="Please enter your company PAN number." converterMessage="Please enter your company PAN Number." maxlength="255" label="Company name" value="#{registrationController.registration.companyPanNumber}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-pan-no" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-category" value="Your Company Category" styleClass="control-label" /><span style="color:red;">*</span>
											<h:selectOneMenu id="company-category" required="true" requiredMessage="Please select your company category." converterMessage="Please select your company category." 
												value="#{registrationController.registration.companyCategory}" styleClass="form-control">
											<f:selectItems value="#{utilityController.companyCategoryValues}" />
											</h:selectOneMenu>
										<h:message for="company-category" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-type" value="Your Company Type" styleClass="control-label" /><span style="color:red;">*</span>
											<h:selectOneMenu id="company-type" required="true" requiredMessage="Please select your company type." converterMessage="Please select your company type." 
												value="#{registrationController.registration.companyType}" styleClass="form-control">
											<f:selectItems value="#{utilityController.companyTypeValues}" />
											</h:selectOneMenu>
										<h:message for="company-type" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-address-line1" value="Your Company Address (Line 1) " styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-address-line1" required="true" maxlength="255" label="Company address line 1" value="#{registrationController.registration.addressLine1}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-address-line1" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-address-line2" value="Your Company Address (Line 2) " styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-address-line2" required="true" maxlength="255" label="Company address line 2" value="#{registrationController.registration.addressLine2}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-address-line2" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-city" value="Your Company City" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-city" required="true" maxlength="255" label="Company City" value="#{registrationController.registration.city}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-city" styleClass="text-danger" />
								</div>
								<div class="form-group">
									<h:outputLabel for="company-state" value="Your Company State" styleClass="control-label"/><span style="color:red;">*</span>
										<h:selectOneMenu id="company-state" required="true" converterMessage="Please select state as per your company location." title="Company-State" value="#{registrationController.registration.stateId}" styleClass="form-control">
										<f:selectItems value="#{statesListController.list}" var="state" itemValue="#{state.id}" itemLabel="#{state.name}"/>
										 <f:ajax event="change" listener="#{registrationController.valueChanged}" render="district-panel" execute="@this" />
										</h:selectOneMenu>
										<h:message for="company-state" styleClass="text-danger" />
								</div>
								<h:panelGroup id="district-panel" layout="block">
								<div class="form-group">
									<h:outputLabel for="district" value="Your Company District" styleClass="control-label"/><span style="color:red;">*</span>
										<h:selectOneMenu id="district" required="true" requiredMessage="Please select a district." validatorMessage="Please select a district." converterMessage="Please select a district." title="District" value="#{registrationController.registration.districtId}" styleClass="form-control">
										<f:selectItems value="#{registrationController.districts}" var="district" itemValue="#{district.id}" itemLabel="#{district.name}"/>
											<f:validator validatorId="selectOneMenuValidator"/>
										</h:selectOneMenu>
										<h:message for="district" styleClass="text-danger" />
								</div>
								</h:panelGroup>
								<div class="form-group">
										<h:outputLabel for="company-pincode" value="Pincode" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-pincode" required="true" maxlength="255" label="Company Pincode" value="#{registrationController.registration.pinCode}"
												styleClass="form-control"  validatorMessage="Pincode should be a numeric value and maximume of six digits.">
												<f:validateRegex pattern="[0-9]+" />
												<f:validateLength maximum="6"/>
											</h:inputText>
										<h:message for="company-pincode" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-landline" value="Your Company's Landline Phone" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-landline" required="true" maxlength="15" label="Company Landline" value="#{registrationController.registration.landlinePhone}"
												styleClass="form-control" validatorMessage="Landline should be a numeric value.">
												<f:validateRegex pattern="[0-9]+" />
												<f:validateLength maximum="15"/>
											</h:inputText>
										<h:message for="company-landline" styleClass="text-danger" />
										<span class="help-block"><small>Landline phone should be a numerical value only, prefixed with the region code. E.g. for Delhi Landline prefix 011. </small></span>
							
								</div>
								<div class="form-group">
										<h:outputLabel for="company-contact-person" value="Your Company's Contact Person" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-contact-person" required="true" maxlength="255" label="Company Contact Person" value="#{registrationController.registration.companyContactPerson}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-contact-person" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-mobile" value="Your Company's Mobile Phone" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="company-mobile" required="true" maxlength="255" label="Company Mobile" value="#{registrationController.registration.mobilePhone}"
												styleClass="form-control">
												<f:validateRegex pattern="[0-9]+" />
												<f:validateLength maximum="10"/>
											</h:inputText>
										<h:message for="company-mobile" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-fax" value="Your Company's Fax" styleClass="control-label" />
											<h:inputText id="company-fax" maxlength="255" label="Company Fax" value="#{registrationController.registration.fax}"
												styleClass="form-control">
											</h:inputText>
										<h:message for="company-fax" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="company-website" value="Your Company's Website" styleClass="control-label" />
											<h:inputText id="company-website" maxlength="255" label="Company Website" value="#{registrationController.registration.website}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="company-website" styleClass="text-danger" />
								</div>
								<div class="form-group">
									<h:outputLabel for="iec-number" value="IEC Number" styleClass="control-label" /><span style="color:red;">*</span>
									<h:inputText id="iec-number" label="IEC Number" maxlength="10" required="true" requiredMessage="IEC Number should be a numerical value only, not more than 10 digits." converterMessage="IEC Number should be a numerical value only, not more than 10 digits." value="#{registrationController.registration.iecNumber}"
										styleClass="form-control">
											<f:validateRegex pattern="[0-9]+" />
											<f:validateLength maximum="10"/>
									</h:inputText>
									<span class="help-block"><small>IEC Number should be a numerical value only, not more than 10 digits.</small></span>
									<h:message for="iec-number" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="iec-authority" value="IEC Issuing Authority" styleClass="control-label" /><span style="color:red;">*</span>
											<h:inputText id="iec-authority" required="true" requiredMessage="Please enter your IEC issuing authority" converterMessage="Please enter your IEC issuing authority." maxlength="255" label="IEC Issuing authority" value="#{registrationController.registration.iecIssuingAuthority}"
												styleClass="form-control">
												<f:converter converterId="trimConverter" />
												<f:validateLength maximum="255" />
											</h:inputText>
										<h:message for="iec-authority" styleClass="text-danger" />
								</div>
								<div class="form-group">
									<h:outputLabel for="iec-state" value="Your IEC Issuing State" styleClass="control-label"/><span style="color:red;">*</span>
										<h:selectOneMenu id="iec-state" required="true" converterMessage="Please select state as per your IEC Issuing authority." title="IEC-State" value="#{registrationController.registration.iecIssuingStateId}" styleClass="form-control">
										<f:selectItems value="#{statesListController.list}" var="state" itemValue="#{state.id}" itemLabel="#{state.name}"/>
										</h:selectOneMenu>
										<h:message for="iec-state" styleClass="text-danger" />
								</div>
								<h5 class="page-header plain-header">Mention the below only if you are an existing member of Capexil. Leave blank otherwise.</h5>
								<div class="form-group">
									<h:outputLabel for="member-since" value="You are member of Capexil since"/>
										<r:calendar id="member-since" direction="bottomRight" jointPoint="bottomRight" requiredMessage="Please enter your member since date" converterMessage="Please enter your plant establishment date." value="#{registrationController.registration.memberSince}" datePattern="dd MMM yyyy" popupStyle="width:50%;margin:inherit;background-color:#91E1F5;" enableManualInput="false">
											<f:validator validatorId="dateValidator" />
										</r:calendar>
									<h:message for="member-since" styleClass="text-danger"/>
								</div>
								<div class="form-group">
										<h:outputLabel for="old-rcmc" value="Your Existing RCMC Number" styleClass="control-label" />
											<h:inputText id="old-rcmc" maxlength="15" label="RCMC Number" value="#{registrationController.registration.oldRCMCNumber}"
												styleClass="form-control">
												<f:validateLength maximum="15"/>
											</h:inputText>
										<h:message for="old-rcmc" styleClass="text-danger" />
								</div>
								<div class="form-group">
										<h:outputLabel for="old-member-code" value="Your Existing Member Code" styleClass="control-label" />
											<h:inputText id="old-member-code" maxlength="15" label="Member Code" value="#{registrationController.registration.oldMemberCode}"
												styleClass="form-control">
												<f:validateLength maximum="15"/>
											</h:inputText>
										<h:message for="old-member-code" styleClass="text-danger" />
								</div>
								<h4 class="page-header plain-header">Verification  <small>You must agree to this</small></h4>
								<div class="form-group">
									<h:outputLabel for="verification" value="I do hereby declare, undertake and accept that the above information is complete and correct and that I agree to abide by the conditions and standards laid down by CAPEXIL in this behalf from time to time." styleClass="control-label" /><span style="color:red;">*</span>
									<h:selectBooleanCheckbox id="verification" value="#{registrationController.registration.verification}" requiredMessage="You must agree.">
										<f:validator validatorId="requiredCheckboxValidator" />
									</h:selectBooleanCheckbox>
									<h:message for="verification" styleClass="text-danger" />
								</div>
								<div class="form-group">
    								<span class="text-muted pull-right"><em><span style="color:red;">*</span> Indicates required field</em></span>
  								</div>
								<div class="form-group">
									<h:commandButton ajax="true" value="Register" action="#{registrationController.registerIndustrialUser}" styleClass="btn btn-primary" />
								</div>
							</h:form>
				 </div>	
				 <div class="col-sm-4">
				 	<h4 class="page-header plain-header">Membership Pricing </h4>
				 	<div id="pricing-table" class="row">
                		<div class="col-sm-12 col-md-12">
                    		<ul class="plan plan1">
                        			<li class="plan-name">
                            			<h3>LARGE SCALE CATEGORY</h3>
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('LargeScaleAnnualFee').value + settingController.getSetting('LargeScaleAdmissionFee').value}"/></span><span style="color:red;">*</span>
                                				<small>FIRST YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('LargeScaleAnnualFee').value}"/></strong> Annual Fee for RCMC
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('LargeScaleAdmissionFee').value}"/></strong> One time Admission Fee
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('LargeScaleAnnualFee').value}"/></span><span style="color:red;">*</span>
                                				<small>SUBSEQUENT YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('LargeScaleAnnualFee').value}"/></strong> Annual Fee for RCMC
                        			</li>
                        			<li>
                            			<span style="color:red;">*</span><small>Amount excludes applicable taxes.</small>
                        			</li>
                    		</ul>
                	</div><!--/.col-md-3-->
                	</div>	
                	<div class="gap"></div>
					<div id="pricing-table" class="row">	
                	<div class="col-sm-12 col-md-12">
                    		<ul class="plan plan2 featured">
                        			<li class="plan-name">
                            			<h3>SMALL SCALE CATEGORY</h3>
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('SmallScaleAnnualFee').value + settingController.getSetting('SmallScaleAdmissionFee').value}"/></span><span style="color:red;">*</span>
                                				<small>FIRST YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('SmallScaleAnnualFee').value}"/></strong> Annual Fee for RCMC
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('SmallScaleAdmissionFee').value}"/></strong> One time Admission Fee
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('SmallScaleAnnualFee').value}"/></span><span style="color:red;">*</span>
                                				<small>SUBSEQUENT YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong><sup>₹</sup><h:outputText value="#{settingController.getSetting('SmallScaleAnnualFee').value}"/></strong> Annual Fee for RCMC
                        			</li>
                        			<li>
                            			<span style="color:red;">*</span><small>Amount excludes applicable taxes.</small>
                        			</li>
                    		</ul>
                	</div><!--/.col-md-3-->	
				</div>	
				<div class="gap"></div>
				<div id="pricing-table" class="row">
                		<div class="col-sm-12 col-md-12">
                    		<ul class="plan plan4">
                        			<li class="plan-name">
                            			<h3>Additional Charges</h3>
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('ManufacturerCumMerchantExporterFee').value}"/></span><span style="color:red;">*</span>
                                				<small>YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong>for Manufacturer cum  Merchant Exporters</strong> 
                        			</li>
                        			<li class="plan-price">
                            			<div>
                                			<span class="price"><sup>₹</sup><h:outputText value="#{settingController.getSetting('AdditionalPanelFee').value}"/></span><span style="color:red;">*</span>
                                				<small>YEAR</small>
                            			</div>
                        			</li>
                        			<li>
                            			<strong>for ADDITIONAL PANEL MEMBERSHIP</strong> 
                        			</li>
                        			<li>
                            			<span style="color:red;">*</span><small>Amount excludes applicable taxes.</small>
                        			</li>
                    		</ul>
                	</div><!--/.col-md-3-->
                	</div>	
               <div class="gap"></div>
               <h4 class="page-header plain-header">Applicable Taxes</h4>
				<ui:repeat value="#{taxListController.taxes}" var="tax" >   
									<div class="well well-sm">
										<h4 class="plain-header text-center"><h:outputText value="#{tax.title}" /></h4>
										<h3 class="plain-header text-center"><h:outputText value="#{tax.percentage} %" />
										</h3>
									</div>				
				</ui:repeat>
			</div>
			</div>
	</ui:define>
	</ui:composition>
</body>
</html>