<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:ui="http://java.sun.com/jsf/facelets" 	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
	<body>
		<ui:composition template="/templates/login-page-navigation.xhtml">
			<f:metadata>
				<f:viewParam name="id" value="#{registrationController.id}" />
				<f:event type="preRenderView" listener="#{registrationController.confirm}" />
			</f:metadata>
			<ui:define name="title">Sign Up Complete</ui:define>
			<ui:define name="content">
				<h:outputStylesheet name="capexil/css/page.account.css" />
				
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<div class="panel panel-default">
							<div class="panel-body wrap-panel">
								<h:panelGroup rendered="#{registrationController.error == false}" layout="block">
									<h2>
										Thank you for confirming your registration.
									</h2>
									<hr />
									<p class="text-accent">
										You can now <h:link value="log in here" outcome="/account/login" />.
									</p>
								</h:panelGroup>
								
								<h:panelGroup rendered="#{registrationController.error == true}" layout="block">
									<h1 class="text-danger">
										Oops! That did not work
									</h1>
									<p class="lead hidden-xs">
										 Something just went wrong!
									</p>
									<p>
										Maybe, your registration has expired or you've already registered. Register again by clicking below! 
									</p>
									
									<hr />
									<h:link outcome="/account/registration-type" styleClass="btn btn-submit">
										Register again here <i class="fa fa-angle-right"></i>
									</h:link>
								</h:panelGroup>
							</div>
							<div class="wrap-panel-footer"></div>
						</div>
					</div>
				</div>
			</ui:define>
		</ui:composition>
	</body>
</html>