<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org">
<body>
	<ui:composition template="/templates/login-page-navigation.xhtml">
		<ui:define name="title">Registeration Type</ui:define>
		<ui:define name="content">
			
			<h:outputScript target="head" name="validate/jquery.validate.min.js" />
			<h:outputScript target="head" name="capexil/js/validators.js" />
		
	<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>New User Registration</h1>
                    <p>Welcome to Scotch Aficionado</p>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="login.xhtml">Home</a></li>
                        <li class="active">Identify Yourself</li>
                     </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->
    <div class="container">
            <div class="row"> 
    	<div class="col-sm-6">
  			<h:message for="registration-type" styleClass="list-unstyled" errorClass="alert alert-danger" infoClass="alert alert-success" warnClass="alert alert-warning" />
				<h4 class="page-header plain-header">Identify Yourself <span style="color:red;">*</span><small>Step 1 of 2</small></h4>
				<h:form id="registration-type">
									<div class="radio radioButtonSpace">
											<h:selectOneRadio id="registration-type" required="true" layout="pageDirection" value="#{registrationController.selectedType}">
												<f:selectItem itemValue="Member"  itemLabel="Member" />
												<f:selectItem itemValue="Administrator"  itemLabel="Administrator"/>
											</h:selectOneRadio>
										</div>
								<div class="form-group">
									<h:commandButton action="#{registrationController.open}" class="btn btn-primary pull-right" value="Next">
									</h:commandButton>
								</div>
				</h:form>
			</div>
			</div>
			</div>
			<div class="container">
            <div class="row"> 
    		<div class="col-sm-6">
			<div class="alert alert-info">
							<small><strong>Members</strong> include (a) Manufacturer cum Merchant Exporters (b) Manufacturer Exporters (c) Merchant Exporters.</small>
			</div>
			<div class="alert alert-success">
							<small><strong>Administrators</strong> are Capexil officials with administrative privileges. Their email Id should end with domain @capexil.in</small>
			</div>
			</div>
			</div>
			</div>
		 </ui:define>
	</ui:composition>
</body>
</html>