<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org">
<body>
	<ui:composition template="/templates/administrator.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{memberController.id}" />
			<f:event type="preRenderView" listener="#{memberController.initUser}" />
		</f:metadata>
		<ui:define name="title">Member Details</ui:define>
		<ui:param name="section" value="member-details" />
		<ui:define name="content">
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
					<h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
        			<p><h:outputText value="Super Administrator"/></p>
        			</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
        			<p><h:outputText value="Administrator"/></p>
        			</h:panelGroup>
        	    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                    <h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
                       <li><a href="/capexiladmin/index.xhtml">Dashboard</a></li>
                      </h:panelGroup>
                     <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                     <li><a href="/capexiladmin/super/index.xhtml">Dashboard</a></li>
                     </h:panelGroup>
                     <li><a href="/capexiladmin/member/list.xhtml">Members</a></li>  
                     <li class="active">Member</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
		<div class="container">
            <div class="row">
                <div class="col-sm-6">
                 <h2 class="page-header plain-header">
					<i class="icon-user icon-sm"></i> Member Information
				</h2>
                	<h:form id="member-data">
                	<h:messages id="messages" globalOnly="true" showDetail="true" showSummary="false" styleClass="list-unstyled"
						errorClass="alert alert-danger" infoClass="alert alert-success"
						warnClass="alert alert-warning" />
					<div class="form-group">
						<h:outputLabel for="loggedOn" value="Logged on" styleClass="control-label" />
						<p>
						<h:outputText value="#{memberController.user.lastLogin}">
								<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
						</h:outputText>
						</p>
						<h:message for="loggedOn" styleClass="text-danger" />
					</div>
					<div class="form-group">
						<h:outputLabel for="type" value="Type" styleClass="control-label" /><span style="color:red;">*</span>
						<h:selectOneMenu id="type" value="#{memberController.user.type}" required="true" styleClass="form-control">
							<f:selectItems value="#{utilityController.getMemberTypeValues()}" />
						</h:selectOneMenu>
						<h:message for="type" styleClass="text-danger" />
					</div>
					<div class="form-group">
						<h:outputLabel for="email" value="Email" styleClass="control-label" /><span style="color:red;">*</span>
						<h:inputText id="email" label="Email" maxlength="255" required="true" value="#{memberController.user.email}"
							styleClass="form-control">
							<f:converter converterId="trimConverter" />
							<f:validateLength maximum="255" />
						</h:inputText>
						<h:message for="email" styleClass="text-danger" />
					</div>
					<div class="form-group">
						<h:outputLabel for="first-name" value="First Name" styleClass="control-label" /><span style="color:red;">*</span>
						<h:inputText id="first-name" label="First Name" maxlength="255" required="true" value="#{memberController.user.firstName}"
							styleClass="form-control">
							<f:converter converterId="trimConverter" />
							<f:validateLength maximum="255" />
						</h:inputText>
						<h:message for="first-name" styleClass="text-danger" />
					</div>
					<div class="form-group">
						<h:outputLabel for="last-name" value="Last Name" styleClass="control-label" /><span style="color:red;">*</span>
						<h:inputText id="last-name" label="Last Name" maxlength="255" required="true" value="#{memberController.user.lastName}"
							styleClass="form-control">
							<f:converter converterId="trimConverter" />
							<f:validateLength maximum="255" />
						</h:inputText>
						<h:message for="last-name" styleClass="text-danger" />
					</div>
					<div class="form-group">
						<h:outputLabel for="status" value="Status" styleClass="control-label" /><span style="color:red;">*</span>
						<h:selectOneMenu id="status" value="#{memberController.user.status}" required="true" styleClass="form-control">
							<f:selectItems value="#{utilityController.getUserStatusValues(true)}" />
						</h:selectOneMenu>
						<h:message for="status" styleClass="text-danger" />
					</div>
					<hr/>
					<div class="form-group">
							<h:commandButton value="Save Details" action="#{memberController.save}" styleClass="btn btn-primary btn-lg" />
					</div>
					<div class="form-group">
							<h:commandButton value="Reset Password" action="#{memberController.resetPassword}" disabled="#{!utilityController.isSuperAdministrator(authController.user)}" styleClass="btn btn-warning btn-lg" />
					</div>						
					</h:form>
					</div>
					<div class="col-sm-6">
					 <h3 class="page-header plain-header">
						Company Info
					</h3>
					<ui:repeat value="#{companyController.getByMember(memberController.user)}" var="company">   
							<table class="table table-striped">
  								<tr>
    								<th>Name</th>
    								<td><h:outputText value="#{company.name}" /></td>
  								</tr>
  								<tr>
  									<th>Category</th>
    								<td><h:outputText value="#{company.category.value}" /></td>
  								</tr>
  								<tr>
  									<th>Type</th>
    								<td><h:outputText value="#{company.type.value}" /></td>
  								</tr>
  								<tr>
    								<th>Contact Person</th>
    								<td><h:outputText value="#{company.contactPerson}" /></td>
  								</tr>
  								<tr>
    								<th>Establishment Date</th>
    								<td><h:outputText value="#{company.establishmentDate}" /></td>
  								</tr>
  								<tr>
    								<th>IEC Number</th>
    								<td><h:outputText value="#{company.iecNumber}" /></td>
  								</tr>
  								<tr>
    								<th>IEC Issuing Authority</th>
    								<td><h:outputText value="#{company.iecIssuingAuthority}" /></td>
  								</tr>
  								<tr>
    								<th>IEC Issuing State</th>
    								<td><h:outputText value="#{company.iecIssuingState.name}" /></td>
  								</tr>
  								<tr>
    								<th>PAN Number</th>
    								<td><h:outputText value="#{company.panNumber}" /></td>
  								</tr>
  								<tr>
    								<th>Old RCMC</th>
    								<td><h:outputText value="#{company.oldRCMCNumber}" /></td>
  								</tr>
  						</table>	
					</ui:repeat>
					</div>
					
				</div>
			</div>
		</ui:define>
	</ui:composition>
</body>
</html>