﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:r="http://richfaces.org" xmlns:b="http://capexil.com/bootstrap">
<body>
	<ui:composition template="/templates/administrator.xhtml">
		<f:metadata>
			<f:event type="preRenderView" listener="#{memberListController.init}" />
		</f:metadata>
		<ui:define name="title">Members</ui:define>
		<ui:param name="section" value="member-details" />
		<ui:define name="content">
		<section id="title" class="pomegranate">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome, 
                    
                    <h:outputText value="#{authController.user.firstName}">
						<f:converter converterId="trimConverter" />
					</h:outputText>!
					</h1>
					<h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
        			<p><h:outputText value="Super Administrator"/></p>
        			</h:panelGroup>
					<h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
        			<p><h:outputText value="Administrator"/></p>
        			</h:panelGroup>
        	    </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                    <h:panelGroup layout="block" rendered="#{utilityController.isAdministrator(authController.user)}">
                       <li><a href="/capexiladmin/index.xhtml">Dashboard</a></li>
                      </h:panelGroup>
                     <h:panelGroup layout="block" rendered="#{utilityController.isSuperAdministrator(authController.user)}">
                     <li><a href="/capexiladmin/super/index.xhtml">Dashboard</a></li>
                     </h:panelGroup>  
                     <li class="active">Members</li>
                    </ul>
                </div>
            </div>
        </div>
        </section>	
		<div class="container">
            <div class="row">
               <div class="col-sm-10">
                <h2 class="page-header plain-header">
					<i class="icon-user icon-sm"></i> Members
					(<h:outputText value="#{memberListController.size}"/>)
				</h2>
                <h:form id="form-list">
                <div class="responsive-table">
                <r:dataTable keepSaved="true" id="table" var="member" value="#{memberListController.list}"
										noDataLabel="No members found" footerClass="table-list-pagination" rows="35" rowKey="#{member.id}"
										styleClass="table table-bordered table-striped table-hover table-list">

										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Date" />
												<ui:param name="property" value="createdAt" />
												<ui:param name="sort" value="true" />
											</ui:include>
											<h:outputText value="#{member.createdAt}" escape="false" >
												<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Type" />
												<ui:param name="property" value="type" />
												<ui:param name="filter" value="select" />
												<ui:param name="converter" value="genericEnumConverter" />
												<ui:param name="enumType" value="com.capexil.domain.type.MemberType" />
												<ui:param name="selectValues" value="#{utilityController.getMemberTypeValues()}" />
											</ui:include>
											<h:outputText value="#{member.type}">
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Region" />
												<ui:param name="property" value="regionCode" />
												<ui:param name="filter" value="select" />
												<ui:param name="converter" value="genericEnumConverter" />
												<ui:param name="enumType" value="com.capexil.domain.type.RegionCode" />
												<ui:param name="selectValues" value="#{utilityController.getRegionCodeValues()}" />
											</ui:include>
											<h:outputText value="#{member.regionCode}">
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="First Name" />
												<ui:param name="property" value="firstName" />
												<ui:param name="sort" value="true" />
												<ui:param name="filter" value="input" />
											</ui:include>
											<h:outputText value="#{member.firstName}">
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Last Name" />
												<ui:param name="property" value="lastName" />
												<ui:param name="sort" value="true" />
												<ui:param name="filter" value="input" />
											</ui:include>
											<h:outputText value="#{member.lastName}">
											</h:outputText>
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Email" />
												<ui:param name="property" value="email" />
												<ui:param name="filter" value="input" />
											</ui:include>
											<h:outputText value="#{member.email}" escape="false" />
										</r:column>
										<r:column>
											<ui:include src="/includes/table-column-header.xhtml">
												<ui:param name="controller" value="#{memberListController}" />
												<ui:param name="label" value="Company Name" />
											</ui:include>
											<h:outputText value="#{companyController.getCompanyName(member)}" escape="false" />
										</r:column>
									<r:column>
										<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{memberListController}" />
										<ui:param name="label" value="Last Logged On" />
										<ui:param name="property" value="lastLogin" />
									</ui:include>
									<h:outputText value="#{member.lastLogin}">
										<f:convertDateTime pattern="dd MMM yyyy HH:mm z" timeZone="#{authController.user.timeZone}" />
									</h:outputText>
								</r:column>
								<r:column>
										<ui:include src="/includes/table-column-header.xhtml">
										<ui:param name="controller" value="#{memberListController}" />
										<ui:param name="label" value="Status" />
										<ui:param name="property" value="status" />
									</ui:include>
									<h:panelGroup layout="block" rendered="#{member.status == 'Enabled'}">
										<span class="label label-success"><h:outputText value="#{member.status}"/></span>
									</h:panelGroup>
									<h:panelGroup layout="block" rendered="#{member.status == 'Disabled'}">
										<span class="label label-danger"><h:outputText value="#{member.status}"/></span>
									</h:panelGroup>
									
								</r:column>
								<r:column>
											<h:commandButton action="#{memberListController.open}" class="btn btn-info btn-sm" value="Open">
											    <f:setPropertyActionListener target="#{memberListController.selectedMemberId}" value="#{member.id}" />
											</h:commandButton>
								</r:column>
								<f:facet name="footer">
											<b:pagination id="scroller" for="table" renderIfSinglePage="false" fastControls="hide" />
								</f:facet>			
									</r:dataTable>
                </div>
				</h:form>
				</div>
			</div>
		</div>		
  	</ui:define>
	</ui:composition>
</body>
</html>