<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets">
	<body>
		<ui:composition>
			<footer>
				<p class="footer-copyright">&copy;2016 Capexil</p> 
  				<p class="footer-tag-line"><a href="" alt="Free Content Management System" target="_blank">concrete5 - an open source CMS</a></p>
			</footer>
		</ui:composition>
	</body>
</html>