﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:r="http://richfaces.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition>
	<f:facet name="header">
		<c:choose>
			<c:when test="#{sort == true}">
				<h:commandLink action="#{controller.list.toggleSortOrder(property)}">
					#{label}
					<c:choose>
						<c:when test="#{controller.list.getSortOrder(property) == 'Unsorted'}">
							<i class="fa fa-unsorted" />
						</c:when>
						<c:when test="#{controller.list.getSortOrder(property) == 'Ascending'}">
							<i class="fa fa-caret-up" />
						</c:when>
						<c:when test="#{controller.list.getSortOrder(property) == 'Descending'}">
							<i class="fa fa-caret-down" />
						</c:when>
					</c:choose>
					<r:ajax render="table" />
				</h:commandLink>
			</c:when>
			<c:otherwise>
				#{label}				
			</c:otherwise>
		</c:choose>
		<c:choose>
			<c:when test="#{filter == 'input'}">
				<h:inputText value="#{controller.list.filters[property].value}" styleClass="form-control input-sm">
					<r:ajax render="table@body scroller" event="keyup" oncomplete="#{oncomplete}" execute="@form"/>
				</h:inputText>
			</c:when>
			<c:when test="#{filter == 'select'}">
				<c:choose>
					<c:when test="#{converter == null}">
						<h:selectOneMenu value="#{controller.list.filters[property].value}" styleClass="form-control input-sm">
							<f:selectItems value="#{selectValues}" />
							<r:ajax render="table@body scroller" event="change" oncomplete="#{oncomplete}" execute="@form"/>
						</h:selectOneMenu>
					</c:when>
					<c:otherwise>
						<c:choose>
							<c:when test="#{converter == 'genericEnumConverter'}">
								<h:selectOneMenu value="#{controller.list.filters[property].value}" genericEnumConverter.enumType="#{enumType}"
									styleClass="form-control input-sm">
									<f:selectItems value="#{selectValues}" />
									<f:converter converterId="#{converter}" />
									<r:ajax render="table@body scroller" event="change" oncomplete="#{oncomplete}" execute="@form"/>
								</h:selectOneMenu>
							</c:when>
							<c:otherwise>
								<h:selectOneMenu value="#{controller.list.filters[property].value}" styleClass="form-control input-sm">
									<f:selectItems value="#{selectValues}" />
									<f:converter converterId="#{converter}" />
									<r:ajax render="table@body scroller" event="change" oncomplete="#{oncomplete}" execute="@form"/>
								</h:selectOneMenu>
							</c:otherwise>
						</c:choose>
					</c:otherwise>
				</c:choose>
			</c:when>
		</c:choose>
	</f:facet>
</ui:composition>
</html>